.Comments{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.CommentsBox{
    flex: 1;
}

.CommentsBoxContent{
    background-color: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
}

.CommentsBoxContent header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.authorAndTime h4{
    font-weight: bold;
    display: block;
    font-size: 0.875rem;
    line-height: 1.6;
}

.authorAndTime time{
    display: block;
    font-size: 0.75rem;
    line-height: 1.6;
    color: var(--gray-400);
}

.Comments header button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
}

.Comments header button:hover {
    color: var(--red-500);
}

.CommentsBoxContent p{
    margin-top: 1rem;
    color: var(--gray-300);
}

.CommentsBox footer{
    margin-top: 1rem;
}

.CommentsBox footer button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;

    display: flex;
    align-items: center;
    border: 2px;
}

.CommentsBox footer button:hover {
    color: var(--green-300);
}

.CommentsBox footer button svg{
    margin-right: 0.5rem;
}

.CommentsBox footer button span::before{
    content: "\2022";
    padding: 0 0.25rem;
}